* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Freeze the viewport: no scrolling vertically or horizontally */
html, body {
  width: 100%;
  height: 100%;
  max-height: 100vh;
  overflow: hidden;       /* freezes page completely */
}


#root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
